.idea
.vscode
bin/gmon.out
bin/eggnog-chess-engine*
*.o
nnue/*.o
Fathom/*.o
tune/lichess_db_puzzle.csv
tune/plot.png
tune/__pycache__/puzzles.cpython-38.pyc
bin/a.out
/bin/eggnog-windows/
/bin/eggnog-linux/
