.idea
.vscode
bin/gmon.out
bin/eggnog-chess-engine*
moveOrder/data.pgn
moveOrder/__pycache__
moveOrder/.idea
moveOrder/analyed.pgn
*.o
nnue/*.o
Fathom/*.o
moveOrder/moveOrderData.c
moveOrder/data.npz
tune/lichess_db_puzzle.csv
tune/plot.png
tune/__pycache__/puzzles.cpython-38.pyc
bin/a.out
/moveOrder/moveOrderData.bin
